.category-blog-page {
  display: flex;
  flex-direction: column;

  &-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &-left {
      width: 75%;
    }

    &-right {
      width: 25%;
      height: 500px;
      margin-top: 7.3rem;
    }
  }

  &-title {
    padding-bottom: 1rem;
    font-size: 5rem;
    border-bottom: 0.4rem solid $color-light-dark-1;
  }

  &-posts-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @media screen and (max-width: 577px) {
      & {
        justify-content: center;
      }
    }

    .post-area {
      width: 33%;
      height: auto;
      padding: 1rem;
      @media screen and (max-width: 899px) {
        & {
          width: 100%;
        }
      }

      @media screen and (min-width: 900px) and (max-width: 1199px) {
        & {
          width: 50%;
        }
      }
    }
  }

  &-right {
    width: 25%;
    height: 100px;
    background-color: red;
  }
}
