$bg-gray-600: rgb(156, 163, 175);
$bg-gray-700: rgb(55, 65, 81);
$bg-gray-800: rgb(31, 41, 55);
$color-white: #fff;
$color-black: #000;
$color-gray-400: rgb(156, 163, 175);
$color-gray-600: rgb(156, 163, 175);
$color-gray-700: rgba(55, 65, 81);
$color-gray-900: rgba(17, 24, 39);
$color-light-dark-1: rgba(0, 0, 0, 0.1);

$color-blue-600: rgba(37, 99, 235);
