@import "./abstracts/variable.style.scss";

@import "./components/components.style.scss";

@import "./pages/AboutPage.style.scss";
@import "./pages/NotFoundPage.style.scss";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a,
a:visited,
a:link {
  text-decoration: none;
}
